* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #a849a3;
  background: linear-gradient(to bottom, #e570e7 0%, #c85ec7 51%, #a849a3 100%);
  background-attachment: fixed;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
header {
  text-align: center;
  padding: 30px 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

h2 {
  text-align: center;
  padding: 40px 0 20px;
  text-transform: uppercase;
}

.list-products li {
  float: left;
  width: 50%;
  padding: 20px;
  text-align: center;
  list-style: none;
}
.list-products li:nth-child(2n + 1) {
  clear: both;
}
@media (min-width: 768px) {
  .list-products li {
    width: 33.3%;
  }
  .list-products li:nth-child(2n + 1) {
    clear: unset;
  }
  .list-products li:nth-child(3n + 1) {
    clear: both;
  }
}

.list-products li img {
  border: 10px solid rgba(128, 1, 195, 0.45);
  transition: border-color 0.3s ease-in-out;
}
.list-products li img:hover {
  border: 10px solid rgba(128, 1, 195, 1);
}

.list-products li p {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 0 0;
  text-align: center;
}

span.price {
  color: #ffce00;
  font-size: 26px;
}

.button {
  background-color: #ffce00;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #8001ce;
}
.button:hover {
  background-color: #ebbc00;
  transition: background-color 0.3s ease-in-out;
}
